/server/server.sh
/server/__pycache__/
/server/secrets.json
/server/apis/__pycache__/*
/server/core/__pycache__/*
/server/crud/__pycache__/*
/server/db/__pycache__/*
/server/db/models/__pycache__/*
/server/routes/__pycache__/*
/server/.env